[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
xgboost = "*"
joblib = "*"
fastapi = "*"
uvicorn = "*"
kagglehub = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.11"
